@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

html{background:#2F3238; }

.feedback-button {height:40px; background:#0079aa; width:100px; line-height:32px; font-weight:600; color:white; text-align:center; font-size:17px; position:fixed; right:0px; top:95%; font-family: "Roboto", helvetica, arial, sans-serif; z-index:999; }

#feedback-main{
    display:none;
    float:initial;
	position: relative;
    z-index: 99;
}

#feedback-div {
	background-color:rgba(72,72,72,0.5);
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:20px;
	width: 450px;
    height: 300px;
    top: 50%;
    left: 50%;
	position: fixed;
    margin-top:-150px;
	margin-left: -225px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: "Roboto", helvetica, arial, sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

/*.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
    padding: 13px 13px 13px 54px;
}*/

/* Icons ---------------------------------- */
#feedback-name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#feedback-name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

#feedback-email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#feedback-email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#feedback-comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#feedback-comment {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, #feedback-comment:hover, input:focus, #feedback-comment:focus {
	background-color:white;
}

.feedback-button-blue{
	font-family: "Roboto", helvetica, arial, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.feedback-button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.feedback-button-blue:hover {
	color: #3498db;
}
	
.feedback-ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.feedback-submit:hover .feedback-ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#feedback-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}






}